@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --strips: linear-gradient(45deg, #1d1d1d 25%, transparent 0),
    linear-gradient(-45deg, #1d1d1d 25%, transparent 0),
    linear-gradient(45deg, transparent 75%, #1d1d1d 0),
    linear-gradient(-45deg, transparent 75%, #1d1d1d 0);
}

@layer base {
  :root {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 346.8 77.2% 49.8%;
    --radius: 0.5rem;
    --editor-background: 0 0% 100%;

    --frame-shadow-border: rgba(0, 0, 0, 0.1);
    --frame-highlight-border: hsla(0, 0%, 100%, 0.75);
    --mac-shadow: 0 0 0 1px var(--frame-highlight-border),
      0 0 0 1.5px var(--frame-shadow-border), 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
  }
  .dark {
    --editor-background: 0 0% 0%;

    --frame-shadow-border: rgba(0, 0, 0, 0.8);
    --frame-highlight-border: hsla(0, 0%, 100%, 0.3);
    --mac-shadow: 0 0 0 1px hsla(0, 0%, 100%, 0.3),
      0 0 0 1.5px hsla(0, 0%, 0%, 0.8), 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

code,
pre,
textarea {
  @apply min-h-10 !overflow-hidden !font-jet font-medium;
}

.hljs {
  color: var(--syntax-text);
}

.hljs-subst,
.hljs-tag {
  color: var(--syntax-tag);
}

.hljs-bullet,
.hljs-link,
.hljs-literal,
.hljs-number,
.hljs-quote,
.hljs-regexp {
  color: var(--syntax-number);
}

.hljs-attr,
.hljs-code,
.hljs-section,
.hljs-selector-class,
.hljs-title {
  color: var(--syntax-definition);
}

.hljs-keyword,
.hljs-name,
.hljs-selector-tag {
  color: var(--syntax-keyword);
}

.hljs-attribute,
.hljs-property,
.hljs-symbol {
  color: var(--syntax-property);
}

.hljs-class .hljs-title,
.hljs-params,
.hljs-title.class_ {
  color: var(--syntax-definition);
}

.hljs-addition,
.hljs-built_in,
.hljs-selector-attr,
.hljs-selector-id,
.hljs-selector-pseudo,
.hljs-string {
  color: var(--syntax-string);
}

.hljs-template-variable,
.hljs-type,
.hljs-variable {
  color: var(--syntax-variable);
}

.hljs-comment,
.hljs-deletion,
.hljs-meta {
  color: var(--syntax-comment);
}
